# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
$p;$t,$s'workhonesttruthflow.attention debugging spacecleaning and Jekyll gobblesthe massesand coocoo displaysthemeinkumpfofoutday=exposureonblastfilesforcesforthetruth{"$s$v^_25:$m,honestworkflowwith=force
'as'STUNNING_Octo Winner|+K_AI}$p;Runtest on delay100%truepath workflow with clean space on the ram!?!!?!
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
